parameters:
	ignoreErrors:
		-
			message: '#^Method SerendipityHQ\\Component\\GeoBuilder\\Bridge\\Symfony\\Form\\Type\\HierarchyJsonType\:\:addAdmin2Field\(\) has parameter \$options with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Bridge/Symfony/Form/Type/HierarchyJsonType.php

		-
			message: '#^Method SerendipityHQ\\Component\\GeoBuilder\\Bridge\\Symfony\\Form\\Type\\HierarchyJsonType\:\:addAdmin3Field\(\) has parameter \$options with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Bridge/Symfony/Form/Type/HierarchyJsonType.php

		-
			message: '#^Method SerendipityHQ\\Component\\GeoBuilder\\Bridge\\Symfony\\Form\\Type\\HierarchyJsonType\:\:prepareChoices\(\) has parameter \$values with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Bridge/Symfony/Form/Type/HierarchyJsonType.php

		-
			message: '#^Method SerendipityHQ\\Component\\GeoBuilder\\Bridge\\Symfony\\Form\\Type\\HierarchyJsonType\:\:prepareChoices\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Bridge/Symfony/Form/Type/HierarchyJsonType.php

		-
			message: '#^Parameter \#1 \$array of function array_flip expects array\<int\|string\>, array given\.$#'
			identifier: argument.type
			count: 1
			path: src/Bridge/Symfony/Form/Type/HierarchyJsonType.php

		-
			message: '#^Parameter \#1 \$country of method SerendipityHQ\\Component\\GeoBuilder\\Reader\\HierarchyJsonReader\:\:read\(\) expects string\|null, mixed given\.$#'
			identifier: argument.type
			count: 3
			path: src/Bridge/Symfony/Form/Type/HierarchyJsonType.php

		-
			message: '#^Parameter \#1 \$objectOrArray of method Symfony\\Component\\PropertyAccess\\PropertyAccessor\:\:getValue\(\) expects array\|object, mixed given\.$#'
			identifier: argument.type
			count: 6
			path: src/Bridge/Symfony/Form/Type/HierarchyJsonType.php

		-
			message: '#^Parameter \#2 \$admin1 of method SerendipityHQ\\Component\\GeoBuilder\\Reader\\HierarchyJsonReader\:\:read\(\) expects string\|null, mixed given\.$#'
			identifier: argument.type
			count: 2
			path: src/Bridge/Symfony/Form/Type/HierarchyJsonType.php

		-
			message: '#^Parameter \#3 \$admin2 of method SerendipityHQ\\Component\\GeoBuilder\\Reader\\HierarchyJsonReader\:\:read\(\) expects string\|null, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Bridge/Symfony/Form/Type/HierarchyJsonType.php

		-
			message: '#^Call to an undefined method Symfony\\Component\\Console\\Output\\OutputInterface\:\:section\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Command/BuildCommand.php

		-
			message: '#^Method SerendipityHQ\\Component\\GeoBuilder\\Command\\BuildCommand\:\:checkRequestedCountriesAreAvailable\(\) has parameter \$requestedCountries with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Command/BuildCommand.php

		-
			message: '#^Method SerendipityHQ\\Component\\GeoBuilder\\Command\\BuildCommand\:\:decodeUnzippedCountry\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Command/BuildCommand.php

		-
			message: '#^Method SerendipityHQ\\Component\\GeoBuilder\\Command\\BuildCommand\:\:processRequestedCountries\(\) has parameter \$requestedCountries with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Command/BuildCommand.php

		-
			message: '#^Parameter \#1 \$requestedCountries of method SerendipityHQ\\Component\\GeoBuilder\\Command\\BuildCommand\:\:checkRequestedCountriesAreAvailable\(\) expects array, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Command/BuildCommand.php

		-
			message: '#^Parameter \#1 \$string of function strtoupper expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Command/BuildCommand.php

		-
			message: '#^Parameter \#2 \$requestedCountries of method SerendipityHQ\\Component\\GeoBuilder\\Command\\BuildCommand\:\:processRequestedCountries\(\) expects array, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Command/BuildCommand.php

		-
			message: '#^Parameter \#2 \$requestedCountry of method SerendipityHQ\\Component\\GeoBuilder\\Command\\BuildCommand\:\:processRequestedCountry\(\) expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Command/BuildCommand.php

		-
			message: '#^Parameter \#2 \.\.\.\$values of function sprintf expects bool\|float\|int\|string\|null, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Command/BuildCommand.php

		-
			message: '#^Property SerendipityHQ\\Component\\GeoBuilder\\Command\\BuildCommand\:\:\$availableCountries type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Command/BuildCommand.php

		-
			message: '#^Method SerendipityHQ\\Component\\GeoBuilder\\DumperInterface\:\:dump\(\) has parameter \$parsedGeonamesDump with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/DumperInterface.php

		-
			message: '#^Method SerendipityHQ\\Component\\GeoBuilder\\Exception\\BuildException\:\:__construct\(\) has parameter \$code with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Exception/BuildException.php

		-
			message: '#^Method SerendipityHQ\\Component\\GeoBuilder\\Exception\\BuildException\:\:__construct\(\) has parameter \$message with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Exception/BuildException.php

		-
			message: '#^Parameter \#1 \$message of method Exception\:\:__construct\(\) expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Exception/BuildException.php

		-
			message: '#^Parameter \#2 \$code of method Exception\:\:__construct\(\) expects int, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Exception/BuildException.php

		-
			message: '#^Method SerendipityHQ\\Component\\GeoBuilder\\Helper\\FileWriter\:\:buildFileName\(\) has parameter \$fileNameParts with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Helper/FileWriter.php

		-
			message: '#^Method SerendipityHQ\\Component\\GeoBuilder\\Helper\\FileWriter\:\:removeEmpties\(\) has parameter \$fileName with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Helper/FileWriter.php

		-
			message: '#^Method SerendipityHQ\\Component\\GeoBuilder\\Helper\\FileWriter\:\:removeEmpties\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Helper/FileWriter.php

		-
			message: '#^Negated boolean expression is always true\.$#'
			identifier: booleanNot.alwaysTrue
			count: 1
			path: src/Helper/FileWriter.php

		-
			message: '#^Result of function Safe\\mkdir \(void\) is used\.$#'
			identifier: function.void
			count: 1
			path: src/Helper/FileWriter.php

		-
			message: '#^Method SerendipityHQ\\Component\\GeoBuilder\\Parser\:\:parse\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Parser.php

		-
			message: '#^Method SerendipityHQ\\Component\\GeoBuilder\\Parser\:\:parse\(\) should return array but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: src/Parser.php

		-
			message: '#^Argument of an invalid type mixed supplied for foreach, only iterables are supported\.$#'
			identifier: foreach.nonIterable
			count: 6
			path: src/Reader/HierarchyJsonDumper.php

		-
			message: '#^Cannot access offset 0 on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 5
			path: src/Reader/HierarchyJsonDumper.php

		-
			message: '#^Cannot access offset 1 on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Reader/HierarchyJsonDumper.php

		-
			message: '#^Cannot access offset 2 on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Reader/HierarchyJsonDumper.php

		-
			message: '#^Cannot access offset 3 on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Reader/HierarchyJsonDumper.php

		-
			message: '#^Cannot access offset 4 on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 4
			path: src/Reader/HierarchyJsonDumper.php

		-
			message: '#^Cannot access offset 5 on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Reader/HierarchyJsonDumper.php

		-
			message: '#^Cannot access offset 6 on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 3
			path: src/Reader/HierarchyJsonDumper.php

		-
			message: '#^Cannot access offset 7 on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Reader/HierarchyJsonDumper.php

		-
			message: '#^Cannot access offset 8 on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: src/Reader/HierarchyJsonDumper.php

		-
			message: '#^Cannot access offset mixed on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 10
			path: src/Reader/HierarchyJsonDumper.php

		-
			message: '#^Method SerendipityHQ\\Component\\GeoBuilder\\Reader\\HierarchyJsonDumper\:\:dump\(\) has parameter \$parsedGeonamesDump with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Reader/HierarchyJsonDumper.php

		-
			message: '#^Method SerendipityHQ\\Component\\GeoBuilder\\Reader\\HierarchyJsonDumper\:\:rearrangeData\(\) has parameter \$parsedGeonamesDump with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Reader/HierarchyJsonDumper.php

		-
			message: '#^Parameter \#1 \$countryCode of method SerendipityHQ\\Component\\GeoBuilder\\Reader\\HierarchyJsonDumper\:\:addCountry\(\) expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Reader/HierarchyJsonDumper.php

		-
			message: '#^Possibly invalid array key type mixed\.$#'
			identifier: offsetAccess.invalidOffset
			count: 4
			path: src/Reader/HierarchyJsonDumper.php

		-
			message: '#^Property SerendipityHQ\\Component\\GeoBuilder\\Reader\\HierarchyJsonDumper\:\:\$admins1 type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Reader/HierarchyJsonDumper.php

		-
			message: '#^Property SerendipityHQ\\Component\\GeoBuilder\\Reader\\HierarchyJsonDumper\:\:\$admins2 type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Reader/HierarchyJsonDumper.php

		-
			message: '#^Property SerendipityHQ\\Component\\GeoBuilder\\Reader\\HierarchyJsonDumper\:\:\$admins3 type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Reader/HierarchyJsonDumper.php

		-
			message: '#^Property SerendipityHQ\\Component\\GeoBuilder\\Reader\\HierarchyJsonDumper\:\:\$places type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Reader/HierarchyJsonDumper.php

		-
			message: '#^Method SerendipityHQ\\Component\\GeoBuilder\\Reader\\HierarchyJsonReader\:\:read\(\) should return array\<int\|string, string\> but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: src/Reader/HierarchyJsonReader.php

		-
			message: '#^Method SerendipityHQ\\Component\\GeoBuilder\\Tests\\Bridge\\Symfony\\Form\\Type\\HierarchyJsonTypeTest\:\:getExtensions\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: tests/Bridge/Symfony/Form/Type/HierarchyJsonTypeTest.php

		-
			message: '#^Parameter \#1 \$submittedData of method Symfony\\Component\\Form\\FormInterface\:\:submit\(\) expects array\|string\|null, stdClass given\.$#'
			identifier: argument.type
			count: 2
			path: tests/Bridge/Symfony/Form/Type/HierarchyJsonTypeTest.php

